body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-lato: Lato;

  /* font sizes */
  --font-size-base: 1rem;
  --font-size-5xl: 1.5rem;
  --font-size-29xl: 3rem;
  --font-size-lg: 1.13rem;
  --font-size-21xl: 2.5rem;
  --font-size-xl: 1.25rem;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #121212;
  --color-gray-200: rgba(18, 18, 18, 0.8);
  --color-gray-300: rgba(18, 18, 18, 0.6);
  --color-gray-400: rgba(18, 18, 18, 0.1);
  --color-tomato: #f85559;

  /* Gaps */
  --gap-5xs: 0.5rem;
  --gap-base: 1rem;
  --gap-13xl: 2rem;
  --gap-5xl: 1.5rem;
  --gap-30xl: 3.06rem;
  --gap-29xl: 3rem;
  --gap-2xl: 1.31rem;

  /* Paddings */
  --padding-11xl: 1.88rem;
  --padding-3xs: 0.63rem;
  --padding-xl: 1.25rem;

  /* border radiuses */
  --br-5xs: 8px;
}
